/*Estilos para el body*/
body {
    background-color: #E6E8E6 !important;
    font-family: 'Roboto', sans-serif !important;
}

/*Navbar*/
nav, .navbar {
    background-color: #26408B !important;
    color: white !important;
}

ul.nav a {
    color: white !important;
}
ul.nav a: hover {
    color: #2B59C3 !important;
}

/*Estilos para el footer*/
footer {
    color: #26408B !important;
}
/*footer div a {
    color: #26408B !important;
}*/

/*Estilos para los enlaces*/
a {
    color: #26408B !important;
}

/*Paneles*/
div.panel-default {
    border-style: solid !important;
    /*border-color: #D1495B;*/
    border-width: 2px !important;
    margin-bottom: 20px !important;
    border-radius: 0px;
}

div.panel-heading {
    background-color: #2B59C3 !important;
    color: white !important;
    border-radius: 0px;
}
/*PANEL PERSONALIZADO*/
.clickable
{
    cursor: pointer;
}

.clickable .glyphicon
{
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px
}

.panel-heading span
{
    margin-top: -23px;
    font-size: 15px;
    margin-right: -9px;
}
a.clickable { color: inherit; }
a.clickable:hover { text-decoration:none; }
h3.panel-title {
    font-family: 'Roboto', sans-serif !important;
    color: white !important;
}



/*BOTONES*/
.btn-custom {
    background-color: #2B59C3 !important;
    color: white !important;
    border-radius: 0px !important;
}

.btn-custom:hover {
    background-color: #26408B !important;
    color: white !important;
}
.btn-danger {
    border-radius: 0px !important;
    color: white !important;
}

i.glyphicon-plus, i.glyphicon-minus {
    background-color: #2B59C3 !important;
    border-radius: 0px;
}
i.glyphicon-plus:hover, i.glyphicon-minus:hover {
    background-color: white !important;
    color: #2B59C3 !important;
    border-radius: 0px;
}

/*Menus*/
.dropdown-menu {
    background-color: #26408B !important;
}

a.dropdown-toggle {
    background-color: #26408B !important;
}
ul.dropdown-menu {
    border-radius: 0px;
}
ul.dropdown-menu li a:hover {
    background-color: white;
    color: #2B59C3 !important;
}
ul.dropdown-menu li a {
    color: white !important;
}

/*Inputs*/
input[type=text],
input[type=email],
input[type=password],
input[type=textarea],
input[type=select],
#breed, #province, #sex, #location {
    border-radius: 0px !important;
}

.glyphicon-trash {
    color: red;
}

/*TEXTOS*/
h1 {
    font-family: 'Raleway', sans-serif !important;
    color: #26408B !important;
    margin-bottom: 20px;
}
h3, h3.name{
    font-family: 'Raleway', sans-serif !important;
    color: #26408B !important;
}
label.label-custom {
    color: #26408B !important;
}

/*HR*/
hr {
    background-color: #26408B !important;
    height: 2px !important;

}

/*PAGINACIÓN*/
ul.pagination li a, ul.pagination li span {
    background-color: #2B59C3 !important;
    color: white !important;
}
ul.pagination li a:hover {
    background-color: #26408B !important;
    color: white !important;
}
ul.pagination li.active span {
    background-color: white !important;
    color: #2B59C3 !important;
}

/*JUMBOTRON*/
div.jumbotron {
    background-color: #2B59C3;
    border-radius: 0px !important;
}

/*--------------ELEMENTOS CUSTOMIZADOS------------------------*/
/*LISTAS*/
/*Para la lista de las mascotas*/
.data-pet {
    border-bottom: 3px solid #26408B; margin-bottom:10px;    
    padding-bottom: 10px !important;
}
.media
 {
     /*box-shadow:0px 0px 4px -2px #000;*/
     margin: 20px 0px;
     padding:30px;
 }
 .dp
 {
     border:5px solid #26408B !important;
     transition: all 0.2s ease-in-out;
     width: 100px;
     height: 50px;
 }
 .dp:hover
 {
     border:2px solid #26408B !important;
     transform:rotate(360deg);
     -ms-transform:rotate(360deg);
     -webkit-transform:rotate(360deg);
     /*-webkit-font-smoothing:antialiased;*/
 }



 /*Para la lista de mensajes*/
 .image-preview-input {
     position: relative;
 	overflow: hidden;
 	margin: 0px;
     color: #333;
     background-color: #fff;
     border-color: #ccc;
 }
 .image-preview-input input[type=file] {
 	position: absolute;
 	top: 0;
 	right: 0;
 	margin: 0;
 	padding: 0;
 	font-size: 20px;
 	cursor: pointer;
 	opacity: 0;
 	filter: alpha(opacity=0);
 }
 .image-preview-input-title {
     margin-left:2px;
 }

 /*Menu de mascota*/
 .sidebar1 {
     background: #26408B;
     /* For browsers that do not support gradients */
     /*background: -webkit-linear-gradient(#26408B, #2B59C3, #f1ab53);*/
     /* For Safari 5.1 to 6.0 */
     /*background: -o-linear-gradient(#26408B, #2B59C3, #f1ab53);*/
     /* For Opera 11.1 to 12.0 */
     /*background: -moz-linear-gradient(#26408B, #2B59C3, #f1ab53);*/
     /* For Firefox 3.6 to 15 */
     /*background: linear-gradient(#26408B, #2B59C3, #f1ab53);*/
     /* Standard syntax */
     padding: 0px;
     min-height: 100%;
 }
 .logo {
     max-height: 130px;
 }
 .logo>img {
     margin-top: 30px;
     padding: 3px;
     border: 3px solid white;
     border-radius: 0px;
 }
 .list {
     color: #fff;
     list-style: none;
     padding-left: 0px;
 }
 .list::first-line {
     color: rgba(255, 255, 255, 0.5);
 }
 .list> li a, h3, h5 {
     padding: 5px 0px 5px 40px;
     color: white !important;
 }
 .list>li a:hover {
     background-color: rgba(255, 255, 255, 0.2);
     border-left: 5px solid white;
     color: white;
     font-weight: bolder;
     padding-left: 35px;
 }.main-content{
 text-align:center;
 }

 /*Galeria de imágenes*/
 .gallery
 {
     display: inline-block;
     margin-top: 20px;
 }

 /*Lista de mensajes*/
 h4.user_name, div.comment-list p {
     color: #26408B !important;
 }

 /*Lista de empresas*/
    /*body {
		padding: 0px 0px;
		background-color: rgb(220, 220, 220);
	}*/

    .event-list {
		list-style: none;
		/*font-family: 'Lato', sans-serif;*/
		margin: 0px;
		padding: 0px;
	}
	.event-list > li {
		background-color: #E6E8E6;
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
		margin: 0px 0px 20px;
	}

	.event-list > li > img {
		width: 100%;
	}
	.event-list > li > .info {
		padding-top: 5px;
		text-align: center;
	}
	.event-list > li > .info > .title {
		font-size: 10pt;
		font-weight: 700;
		margin: 0px;
	}
	.event-list > li > .info > .desc {
		font-size: 13pt;
		font-weight: 300;
		margin: 0px;
	}
	.event-list > li > .info > ul {
		display: table;
		list-style: none;
		margin: 10px 0px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}
	.event-list > li > .info > ul > li {
		display: table-cell;
		cursor: pointer;
		color: rgb(30, 30, 30);
		font-size: 11pt;
		font-weight: 300;
        padding: 3px 0px;
	}
    .event-list > li > .info > ul > li > a {
		display: block;
		width: 100%;
		color: #2B59C3 !important;
		text-decoration: none;
	}
	.event-list > li > .info > ul > li > a:hover {
		color: white !important;
		background-color: #2B59C3 !important;
	}

	@media (min-width: 768px) {
		.event-list > li {
			position: relative;
			display: block;
			width: 100%;
			height: 120px;
			padding: 0px;
		}
		.event-list > li > img  {
			display: inline-block;
		}
		.event-list > li > img {
			width: 120px;
			float: left;
		}
		.event-list > li > .info {
			background-color: rgb(245, 245, 245);
			overflow: hidden;
		}
		.event-list > li > img {
			/*width: 120px;
			height: 120px;*/
			padding: 0px;
			margin: 0px;
		}
		.event-list > li > .info {
			position: relative;
			height: 120px;
			text-align: left;
			/*padding-right: 40px;*/
		}
		.event-list > li > .info > .title,
		.event-list > li > .info > .desc {
			padding: 0px 10px;
		}
		.event-list > li > .info > ul {
			position: absolute;
			left: 0px;
			bottom: 0px;
		}
		/*.event-list > li > .social {
			position: absolute;
			top: 0px;
			right: 0px;
			display: block;
			width: 40px;
		}
        .event-list > li > .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
		.event-list > li > .social > ul > li {
			display: block;
            padding: 0px;
		}
		.event-list > li > .social > ul > li > a {
			display: block;
			width: 40px;
			padding: 10px 0px 9px;
		}*/
	}
